# Copyright (c) 2009-2012, 2014-2017, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /vendor/etc/init/hw/init.qcom.usb.rc
import /vendor/etc/init/hw/init.target.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug
    chown root system /dev/kmsg
    chmod 0620 /dev/kmsg

    write /sys/block/mmcblk0/bdi/read_ahead_kb 512

on init
    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    # Create cgroup mount point for memory
    mkdir /sys/fs/cgroup/memory/bg 0750 root system
    write /sys/fs/cgroup/memory/bg/memory.swappiness 140
    write /sys/fs/cgroup/memory/bg/memory.move_charge_at_immigrate 1
    chown root system /sys/fs/cgroup/memory/bg/tasks
    chmod 0660 /sys/fs/cgroup/memory/bg/tasks

    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

    # Set up schedtune
    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 1

    # Setup all the sub-system as related
    write /sys/bus/msm_subsys/devices/subsys0/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys1/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys2/restart_level RELATED
    write /sys/bus/msm_subsys/devices/subsys3/restart_level RELATED

on fs
    # Start HW service manager early
    start hwservicemanager

    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    mount_all /vendor/etc/fstab.qcom --early

    # Start tad
    wait /dev/block/mmcblk0p1
    chown oem_2997 oem_2997 /dev/block/mmcblk0p1
    chmod 0770 /dev/block/mmcblk0p1
    start tad

    # Change the compression algorithm for zRAM
    write /sys/block/zram0/comp_algorithm lz4

    # Soft charger
    chmod 0666 /sys/class/power_supply/battery/device/soft_charge30_status
    chmod 0666 /sys/class/power_supply/battery/device/soft_charge31_status
    chmod 0666 /sys/class/power_supply/battery/device/soft_charge31_time
    chown system system /sys/class/power_supply/battery/device/soft_charge30_status
    chown system system /sys/class/power_supply/battery/device/soft_charge31_status
    chown system system /sys/class/power_supply/battery/device/soft_charge31_time

    # Change permission for IUSB suspend node
    chmod 0666 /sys/class/power_supply/battery/input_suspend

    # qseecomd needs /dev/block/bootdevice
    # vold needs keymaster that needs qseecomd
    start vendor.qseecomd

on late-fs
    # Start devices by sysfs trigger
    start devstart_sh

    # Start services for bootanim
    start surfaceflinger
    start bootanim
    start vendor.hwcomposer-2-1
    start vendor.configstore-hal
    start vendor.gralloc-2-0

    # Wait for hwservicemanager ready since fsck might be triggered in mount_all --late
    # In such case, init won't responce the property_set from hwservicemanager and then
    # cause services for bootanim not running.
    wait_for_prop hwservicemanager.ready true

    # Mount RW partitions which need run fsck
    mount_all /vendor/etc/fstab.qcom --late

on post-fs
    write /dev/ipa 1

    # Wait qseecomd started
    wait_for_prop vendor.sys.listeners.registered true

on post-fs-data
    mkdir /data/vendor/misc 01771 system system

    # Create directory used by display clients
    mkdir /data/vendor/display 0770 system graphics

    # Create directory for radio
    mkdir /data/vendor/radio 0770 system radio

    # Create directory for modem_config
    mkdir /data/vendor/modem_config 0570 radio root

    # Change lm related dirs
    mkdir /data/vendor/lm 0700 root root

    # Create directory used by media clients
    mkdir /data/vendor/media 0770 mediacodec media

    # Create directories for Fingerprint
    mkdir /data/vendor/misc/egistec 0771 system system
    mkdir /data/vendor/misc/qti_fp 0770 system system
    mkdir /data/vendor/misc/qti_fp/bg_estimation 0770 system system
    mkdir /data/vendor/misc/qti_fp/calib_test 0770 system system
    mkdir /data/vendor/misc/qti_fp/database 0770 system system

    # Create directory for apps access via QTEEConnector
    mkdir /data/vendor/qtee 0770 system system

    # Create folder for mm-qcamera-daemon
    mkdir /data/vendor/camera 0770 camera camera


    # Create directory for tftp
    mkdir /data/vendor/tombstones 0771 system system

    mkdir /data/vendor/ramdump 0771 root system
    mkdir /data/vendor/bluetooth 0770 bluetooth bluetooth
    mkdir /data/vendor/ramdump/bluetooth 0770 bluetooth bluetooth

    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/sockets 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd/ctrl 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/vendor/wifi/wigig_hostapd 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

    # Create port-bridge log dir
    mkdir /data/vendor/port_bridge 0770 radio radio
    chmod 0770 /data/vendor/port_bridge

    # Create netmgr log dir
    mkdir /data/vendor/netmgr 0770 radio radio
    chmod 0770 /data/vendor/netmgr

    # Create ipacm log dir
    mkdir /data/vendor/ipa 0770 radio radio
    chmod 0770 /data/vendor/ipa

    # Create the directories used by CnE subsystem
    mkdir /data/vendor/connectivity 0771 radio radio
    chown radio radio /data/vendor/connectivity

    # Create directory used by audio subsystem
    mkdir /data/vendor/misc/audio 0770 audio audio

    # Create directory for audio delta files
    mkdir /data/vendor/misc/audio/acdbdata 0770 media audio
    mkdir /data/vendor/misc/audio/acdbdata/delta 0770 media audio

    # Create directory for radio
    mkdir /data/vendor/radio 0770 system radio

    # Create directories for Location services
    mkdir /data/vendor/location 0770 gps gps
    mkdir /data/vendor/location/mq 0770 gps gps
    mkdir /data/vendor/location/xtwifi 0770 gps gps
    mkdir /dev/socket/location 0770 gps gps
    mkdir /dev/socket/location/mq 0770 gps gps
    mkdir /dev/socket/location/xtra 0770 gps gps
    mkdir /data/vendor/location-partner 0770 gps gps
    mkdir /data/vendor/location-partner/dre 0770 gps gps
    mkdir /data/vendor/location-partner/ppe 0770 gps gps
    mkdir /dev/socket/location 0770 gps gps
    mkdir /dev/socket/location/ehub 0770 gps gps

    # Create directory from IMS services
    mkdir /data/shared 0755
    chown system system /data/shared

    # Create directory for FOTA
    mkdir /data/fota 0771
    chown system system /data/fota

    # Create /data/vendor/time folder for time-services
    mkdir /data/vendor/time 0700 system system

    # Create directory used by audio subsystem
    mkdir /data/vendor/audio 0770 media audio

    # Create a folder for audio delta files
    mkdir /data/vendor/audio/acdbdata 0770 media audio
    mkdir /data/vendor/audio/acdbdata/delta 0770 media audio

    setprop vold.post_fs_data_done 1

    # Create FM dir for patchdownloader
    mkdir /data/vendor/fm 0770 system system
    chmod 0770 /data/vendor/fm

    # Create PERFD deamon related dirs
    mkdir /data/vendor/perfd 0770 root system
    chmod 2770 /data/vendor/perfd
    rm /data/vendor/perfd/default_values

    # NFC local data and nfcee xml storage
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/nfc/param 0770 nfc nfc

    # Create IOP  deamon related dirs
    mkdir /data/vendor/iop 0770 root system

    # Mark the copy complete flag to not completed
    write /data/vendor/radio/copy_complete 0
    chown radio radio /data/vendor/radio/copy_complete
    chmod 0660 /data/vendor/radio/copy_complete

    # Copy prebuilt qcril.db files always
    copy /vendor/radio/qcril_database/qcril.db /data/vendor/radio/qcril_prebuilt.db
    chown radio radio /data/vendor/radio/qcril_prebuilt.db
    chmod 0660 /data/vendor/radio/qcril_prebuilt.db

    # File flags for prebuilt ril db file
    write /data/vendor/radio/prebuilt_db_support 1
    chown radio radio /data/vendor/radio/prebuilt_db_support
    chmod 0400 /data/vendor/radio/prebuilt_db_support
    write /data/vendor/radio/db_check_done 0
    chown radio radio /data/vendor/radio/db_check_done
    chmod 0660 /data/vendor/radio/db_check_done

    # qti-logkit data
    mkdir /data/vendor/qti-logkit 0771 system system
    mkdir /data/vendor/qti-logkit/shared-privileged 2770 system system
    mkdir /data/vendor/qti-logkit/shared-public 2770 system diag
    mkdir /data/vendor/qti-logkit/socket-privileged 2770 system system
    mkdir /data/vendor/qti-logkit/socket-public 2750 system diag
    mkdir /data/vendor/qti-logkit/logdata 2750 system shell

    # Create SWAP related dirs
    mkdir /data/vendor/swap 0770 root system
    chmod 2770 /data/vendor/swap

    # Set aggressive read ahead for dm-0 and dm-1 during boot up
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048

    # Create vpp directory
    mkdir /data/vendor/vpp 0770 media media

    # Qnovo
    mkdir /mnt/qns 0750 oem_2985 oem_2985
    wait /dev/block/platform/soc/${ro.boot.bootdevice}/by-name/Qnovo
    mount ext4 /dev/block/platform/soc/${ro.boot.bootdevice}/by-name/Qnovo /mnt/qns nosuid nodev noatime noexec barrier=1
    chown oem_2985 oem_2985 /mnt/qns
    chmod 0750 /mnt/qns
    restorecon_recursive /mnt/qns

    chown oem_2985 oem_2985 /sys/class/qns
    chown oem_2985 oem_2985 /sys/class/qns/alarm
    chown oem_2985 oem_2985 /sys/class/qns/charge_current
    chown oem_2985 oem_2985 /sys/class/qns/charge_voltage
    chown oem_2985 oem_2985 /sys/class/qns/charging_state
    chown oem_2985 oem_2985 /sys/class/qns/current_now
    chown oem_2985 oem_2985 /sys/class/qns/design
    chown oem_2985 oem_2985 /sys/class/qns/fcc
    chown oem_2985 oem_2985 /sys/class/qns/options
    chown oem_2985 oem_2985 /sys/class/qns/soc
    chown oem_2985 oem_2985 /sys/class/qns/temp
    chown oem_2985 oem_2985 /sys/class/qns/voltage
    chown oem_2985 oem_2985 /sys/class/qns/battery_type

    start vendor.dataqti
    start vendor.netmgrd
    start vendor.port-bridge
    start qns

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    # Allow subsystem (modem etc) debugging
    write /sys/kernel/boot_adsp/boot 1
    write /sys/kernel/boot_cdsp/boot 1
    write /sys/kernel/boot_slpi/boot 1

    # For backward compatibility
    chown system system /persist/sensors
    chown system system /persist/sensors/registry
    chown system system /persist/sensors/registry/registry
    chown system system /persist/sensors/registry/registry/sensors_registry
    chown system system /persist/sensors/sensors_settings
    chown system system /persist/sensors/registry/config
    chmod 0664 /persist/sensors/sensors_settings

    chown system system /mnt/vendor/persist/sensors
    chown system system /mnt/vendor/persist/sensors/sns.reg
    chown system system /mnt/vendor/persist/sensors/sensors_list.txt
    chown system system /mnt/vendor/persist/sensors/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry/sensors_registry
    chown system system /mnt/vendor/persist/sensors/sensors_settings
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_config
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_version
    chown system system /mnt/vendor/persist/sensors/registry/config
    chmod 0664 /mnt/vendor/persist/sensors/sensors_settings

    setprop ro.alarm_boot false

on boot
    # Access permission for Bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt /sys/class/rfkill/rfkill0/device/extldo
    chown bluetooth net_bt /dev/ttyHS0
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /dev/ttyHS0

    chown system system /sys/module/msm_core/parameters/polling_interval
    chown system system /sys/module/msm_core/parameters/disabled
    chown system system /sys/kernel/debug/msm_core/enable
    chown system system /sys/kernel/debug/msm_core/ptable

    # Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps

    mkdir /mnt/vendor/persist/alarm 0770 system system
    mkdir /mnt/vendor/persist/audio 0770 audio audio
    mkdir /mnt/vendor/persist/bluetooth 0770 bluetooth bluetooth
    mkdir /mnt/vendor/persist/display 0770 system graphics
    mkdir /mnt/vendor/persist/drm 0770 system system
    mkdir /mnt/vendor/persist/hlos_rfs 0770 vendor_rfs vendor_rfs_shared
    mkdir /mnt/vendor/persist/hlos_rfs/shared 0770 vendor_rfs vendor_rfs_shared
    mkdir /mnt/vendor/persist/misc 0770 system system
    mkdir /mnt/vendor/persist/rfs 0770 vendor_rfs vendor_rfs
    mkdir /mnt/vendor/persist/rfs/msm 0770 vendor_rfs vendor_rfs
    mkdir /mnt/vendor/persist/rfs/msm/mpss 0770 vendor_rfs vendor_rfs
    mkdir /mnt/vendor/persist/secnvm 0770 system system
    mkdir /mnt/vendor/persist/time 0770 system system
    mkdir /mnt/vendor/persist/vpp 0770 media media
    restorecon_recursive /mnt/vendor/persist

    # Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath
    chown wifi wifi /sys/kernel/boot_wlan/boot_wlan

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 8388608
    write /proc/sys/net/core/wmem_max 8388608

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # Set the console loglevel to < KERN_INFO
    # Set the default message loglevel to KERN_INFO
    write /proc/sys/kernel/printk "6 6 1 7"

    # bond0 used by FST Manager
    chown wifi wifi /sys/class/net/bond0/bonding/queue_id

    start rmt_storage

    # Regionalization config and prop files
    chmod 0644 /mnt/vendor/persist/speccfg/spec
    chmod 0644 /mnt/vendor/persist/speccfg/devicetype
    chmod 0644 /mnt/vendor/persist/speccfg/mbnversion
    chmod 0644 /mnt/vendor/persist/speccfg/.not_triggered
    chmod 0644 /mnt/vendor/persist/speccfg/vendor_ro.prop
    chmod 0644 /mnt/vendor/persist/speccfg/vendor_persist.prop
    chmod 0644 /mnt/vendor/persist/speccfg/submask
    chmod 0644 /mnt/vendor/persist/speccfg/partition
    chown system system /mnt/vendor/persist/speccfg/spec
    chown system system /mnt/vendor/persist/speccfg/devicetype
    chown system system /mnt/vendor/persist/speccfg/mbnversion
    chown system system /mnt/vendor/persist/speccfg/.not_triggered
    chown system system /mnt/vendor/persist/speccfg/vendor_ro.prop
    chown system system /mnt/vendor/persist/speccfg/vendor_persist.prop
    chown system system /mnt/vendor/persist/speccfg/submask
    chown system system /mnt/vendor/persist/speccfg/partition

    # Permissions for egistec
    chown system system /dev/esfp0
    chmod 0644 /dev/esfp0

    # Permissions for fpc
    chown system system /sys/devices/soc/soc:fpc1020/clk_enable
    chown system system /sys/devices/soc/soc:fpc1020/hw_reset
    chown system system /sys/devices/soc/soc:fpc1020/irq
    chown system system /sys/devices/soc/soc:fpc1020/wakeup_enable
    chown system system /sys/devices/soc/soc:fpc1020/regulator_enable
    chown system system /sys/devices/soc/soc:fpc1020/device_prepare
    chown system system /sys/devices/soc/soc:egistec/device_prepare
    chmod 0644 /sys/devices/soc/soc:fpc1020/clk_enable
    chmod 0644 /sys/devices/soc/soc:fpc1020/hw_reset
    chmod 0644 /sys/devices/soc/soc:fpc1020/irq
    chmod 0644 /sys/devices/soc/soc:fpc1020/wakeup_enable
    chmod 0644 /sys/devices/soc/soc:fpc1020/regulator_enable
    chmod 0666 /sys/devices/soc/soc:fpc1020/device_prepare
    chmod 0666 /sys/devices/soc/soc:egistec/device_prepare

    setprop persist.test.fp_existed 5

on charger
    setprop persist.sys.usb.config mass_storage
    load_system_props

    start qcom-post-boot
    start vendor.hvdcp_opti

    setprop sys.usb.configfs 1

    start vendor.power_off_alarm

    # Qnovo
    mkdir /mnt/qns 0750 oem_2985 oem_2985
    wait /dev/block/platform/soc/${ro.boot.bootdevice}/by-name/Qnovo
    mount ext4 /dev/block/platform/soc/${ro.boot.bootdevice}/by-name/Qnovo /mnt/qns nosuid nodev noatime noexec barrier=1
    chown oem_2985 oem_2985 /mnt/qns
    chmod 0750 /mnt/qns
    restorecon_recursive /mnt/qns

    chown oem_2985 oem_2985 /sys/class/qns
    chown oem_2985 oem_2985 /sys/class/qns/alarm
    chown oem_2985 oem_2985 /sys/class/qns/charge_current
    chown oem_2985 oem_2985 /sys/class/qns/charge_voltage
    chown oem_2985 oem_2985 /sys/class/qns/charging_state
    chown oem_2985 oem_2985 /sys/class/qns/current_now
    chown oem_2985 oem_2985 /sys/class/qns/design
    chown oem_2985 oem_2985 /sys/class/qns/fcc
    chown oem_2985 oem_2985 /sys/class/qns/options
    chown oem_2985 oem_2985 /sys/class/qns/soc
    chown oem_2985 oem_2985 /sys/class/qns/temp
    chown oem_2985 oem_2985 /sys/class/qns/voltage
    chown oem_2985 oem_2985 /sys/class/qns/battery_type

    start qns

# Services begin here

service adsprpcd /vendor/bin/adsprpcd audiopd
    class main
    user media
    group media

service vendor.atfwd /vendor/bin/ATFWD-daemon
    class late_start
    user system
    group system radio

on property:persist.vendor.radio.atfwd.start=false
    stop vendor.atfwd

on property:vendor.radio.atfwd.start=false
    stop vendor.atfwd

service cei_sh /vendor/bin/init.qcom.cei.sh
    class core
    user root
    group root
    oneshot

service charger /charger
    class charger
    group system graphics
    seclabel u:r:healthd:s0

service vendor.cnd /vendor/bin/cnd
    class main
    user system
    group system wifi inet radio wakelock net_admin

service cnss-daemon /vendor/bin/cnss-daemon -n -l
    class late_start
    user system
    group system inet net_admin wifi

on property:sys.powerctl=*
    stop cnss-daemon

service devstart_sh /vendor/bin/init.qcom.devstart.sh
    class core
    user root
    group root
    oneshot

service dpmQmiMgr /vendor/bin/dpmQmiMgr
    class main
    user system
    group system

service energy-awareness /vendor/bin/energy-awareness
    class main
    user system
    group system
    oneshot

service ets_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service_et512
    class late_start
    user system
    group system input
    disabled

on property:vendor.hw.fingerprint=et516
    enable ets_hal

service fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service_fpc
    class late_start
    user system
    group system input
    disabled

on property:vendor.hw.fingerprint=fpc1035
    enable fps_hal

service vendor.hvdcp_opti /vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock

service vendor.ipacm-diag /vendor/bin/ipacm-diag
    class main
    user radio
    socket ipacm_log_file dgram 660 radio radio
    group radio diag
    disabled

service vendor.ipacm /vendor/bin/ipacm
    class main
    user radio
    group radio inet

service vendor.ims_rtp_daemon /vendor/bin/ims_rtp_daemon
    class main
    user system
    group radio diag inet log
    disabled

service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    disabled

service vendor.imsqmidaemon /vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag

service vendor.imsrcsservice /vendor/bin/imsrcsd
    class main
    user system
    group radio diag inet log
    disabled

on property:vendor.ims.QMI_DAEMON_STATUS=1
    start vendor.imsdatadaemon

on property:vendor.ims.DATA_DAEMON_STATUS=1
    start vendor.ims_rtp_daemon
    start vendor.imsrcsservice

service irsc_util /vendor/bin/irsc_util "/vendor/etc/sec_config"
    class core
    user root
    oneshot

service loc_launcher /vendor/bin/loc_launcher
    class late_start
    user gps
    group gps

service mlid /vendor/bin/mlid
    class late_start
    user gps
    group gps
    socket mlid stream 0666 gps gps

service mlog_qmi_service /vendor/bin/mlog_qmi_service
    user root
    disabled

service vendor.msm_irqbalance /vendor/bin/msm_irqbalance -f /vendor/etc/msm_irqbalance.conf
    class core
    user root
    group root
    disabled

service vendor.msm_irqbl_sdm630 /vendor/bin/msm_irqbalance -f /vendor/etc/msm_irqbalance_sdm630.conf
    class core
    user root
    group root

service vendor.netmgrd /vendor/bin/netmgrd
    class main
    disabled

on property:ro.vendor.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop vendor.netmgrd

service vendor.pd_mapper /vendor/bin/pd-mapper
    class core

service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy

service vendor.port-bridge /vendor/bin/port-bridge
    class main
    user radio
    group radio system inet
    disabled
    oneshot

service vendor.power_off_alarm /vendor/bin/power_off_alarm
    class core
    group system
    disabled
    oneshot

service ppd /vendor/bin/mm-pp-dpps
    class late_start
    user system
    group system graphics
    socket pps stream 0660 system system
    disabled

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

on property:vendor.radio.multisim.config=*
    setprop persist.radio.multisim.config ${vendor.radio.multisim.config}

on property:vendor.radio.multisim.config=ss
    enable vendor.qcrild

on property:vendor.radio.multisim.config=dsds
    enable vendor.qcrild
    enable vendor.qcrild2

service qcom-post-boot /vendor/bin/init.qcom.post_boot.sh
    class late_start
    user root
    group root system wakelock graphics
    disabled
    oneshot

service qcom-sh /vendor/bin/init.qcom.sh
    class late_start
    user root
    group root system radio
    oneshot

on property:ro.vendor.ril.mbn_copy_completed=1
    write /data/vendor/radio/copy_complete 1

service qns /vendor/bin/qns -d /mnt/qns -l /mnt/qns
    user oem_2985
    group oem_2985
    socket qnsbsd stream 660 oem_2985 system
    disabled

service vendor.qseecomd /vendor/bin/qseecomd
    class core
    user root
    group root

service vendor.dataqti /vendor/bin/qti
    class main
    user radio
    group radio oem_2901 diag usb net_admin
    disabled

service vendor.qrtr-ns /vendor/bin/qrtr-ns -f
    class core
    user vendor_qrtr
    group vendor_qrtr
    capabilities NET_BIND_SERVICE

service vendor.rmt_storage /vendor/bin/rmt_storage
    class core
    user root
    shutdown critical
    ioprio rt 0

service vendor-sensor-sh /vendor/bin/init.qcom.sensors.sh
    class core
    user root
    oneshot

service vendor.sensors /vendor/bin/sscrpcd
    class core
    user system
    group system
    disabled

service vendor.sensors.qti /vendor/bin/sensors.qti
    class core
    user system
    group system
    disabled

service tad /vendor/bin/tad /dev/block/bootdevice/by-name/TA 0,16
    user oem_2997
    group oem_2997 root
    socket tad stream 0660 system oem_2993
    class core

service thermal-engine /vendor/bin/thermal-engine
    class main
    user root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system
    socket thermal-send-rule stream 0660 system system
    group root

service time_daemon /vendor/bin/time_daemon
    class late_start
    user root
    group root

service vendor.tftp_server /vendor/bin/tftp_server
    class core
    user root

service wvkbd_installer /vendor/bin/wvkbd
    class late_start
    user system
    group system
    oneshot

service wifi-sdio-on /vendor/bin/init.qcom.sdio.sh
    class late_start
    group wifi inet
    disabled
    oneshot

service wifi-crda /vendor/bin/init.crda.sh
    class late_start
    user root
    disabled
    oneshot

service wpa_supplicant /vendor/bin/hw/wpa_supplicant \
    -O/data/vendor/wifi/wpa/sockets -puse_p2p_group_interface=1 -dd \
    -g@android:vendor_wpa_wlan0
    # we will start as root and wpa_supplicant will switch to user wifi
    # after setting up the capabilities required for WEXT
    # user wifi
    # group wifi inet keystore
    interface android.hardware.wifi.supplicant@1.0::ISupplicant default
    interface android.hardware.wifi.supplicant@1.1::ISupplicant default
    class main
    socket vendor_wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

on property:sys.boot_completed=1
    # Set IO scheduler to BFQ
    setprop sys.io.scheduler bfq

    # Enable ZRAM
    swapon_all /vendor/etc/fstab.qcom

    # Reset read ahead for dm-0 and dm-1 to 512kb
    write /sys/block/dm-0/queue/read_ahead_kb 512
    write /sys/block/dm-1/queue/read_ahead_kb 512

    # WDSP FW boot sysfs node used by STHAL
    chown media audio /sys/kernel/wcd_cpe0/fw_name

    start qcom-post-boot

on property:vold.decrypt=trigger_restart_framework
    start vendor.ipacm-diag
    start vendor.dataqti
    start vendor.netmgrd
    start vendor.port-bridge
